header {
  padding-top: 1em;
  position: fixed;
  z-index: 1000;
  background-color: white;
}
body {
  overflow-x: hidden;
}
.logo {
  margin-left: 2em;
}
.logo-img {
  width: 9%;
  height: 2%;
}
.location {
  font-family: sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 1em;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
.location:hover {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}
.mystyle {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}
#city {
  font-size: 0.9em;
  color: grey;
  font-family: sans-serif;
  cursor: pointer;
}
.fa {
  font-size: 21px;
  margin: 5px;
  transition: all 0.5s;
}
.fa-building:hover {
  font-size: 40px;
  transform: scale(1.1);
}
#search {
  margin-left: 6em;
  font-family: sans-serif;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
#search:hover {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}
#help {
  margin-left: 2em;
  font-family: sans-serif;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
#help:hover {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}

#login {
  margin-left: 2em;
  font-family: sans-serif;
  font-size: 21px;
  cursor: pointer;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
}
#login:hover {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}

#glow {
  font-family: sans-serif;
  font-size: 2.8em;
  margin-left: 3em;
  color: #073e38;
  -webkit-transition: 1.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 1.5s ease-in-out;
  -webkit-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -moz-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -ms-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  -o-text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  text-shadow: 0 0 0 transparent, 0 0 0 transparent;
  overflow: visible;
}
#glow:hover {
  color: #073e38;
  -webkit-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -moz-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -ms-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  -o-text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
  text-shadow: 0 0 10px #073e38, 0 0 50px #073e38;
}

h1 {
  font-family: sans-serif;
  font-size: 3em;
}
img {
  width: 330px;
  height: 280px;
  margin: 10px;
  transition: all 3s;
}
img:hover {
  transform: scale(1.1);
}
.glyphicon {
  transition: all 3s;
}
.glyphicon:hover {
  transform: rotate(45deg);
  transform: scale(1.5);
}
.glyphiconHover {
  transform: rotate(45deg);
  transform: scale(1.3);
}
.glyphicon-fire {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  background-color: #073e38;
  color: white;
}
.glyphicon-flash {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.5em;
  background-color: #073e38;
  color: white;
}

.side1 {
  font-family: sans-serif;
  font-size: 1.5em;
  color: black;
}
.side2 {
  font-family: sans-serif;
  font-size: 1.5em;
  color: black;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background-color: #0d3331;
  color: white;
  width: 109%;
}
.nav-pills > li.active > a > .glyphicon-fire {
  background-color: white;
  color: #073e38;
}
.nav-pills > li.active > a > .glyphicon-flash {
  background-color: white;
  color: #073e38;
}
.nav-stacked > li {
  padding-bottom: 2em;
}
.side1:hover {
  color: #073e38;
}
.side2:hover {
  color: #073e38;
}
#myScrollspy {
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px;
  height: 24em;
  width: 18%;
  position: sticky;
  top: 90px;
}
#right {
  padding-left: 4em;
}
.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: none !important;
    transform: none !important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
.offer {
  background: #0d3331;
  color: #ddd;
}
#scroll {
  position: relative;
  margin: 2em;
}
.affix {
  top: 20px;
  position: relative;
}
div.col-sm-9 div {
  height: auto;
  padding: 6px 44px;
}
#section1 {
  color: #073e38;
  background-color: white;
}
#section2 {
  color: #073e38;
  background-color: white;
}
footer {
  background-color: rgb(19, 18, 18);
  color: white;
}
#footerHead {
  color: grey;
  font-family: sans-serif;
  padding: 20px 0px 25px 0px;
}
#footerLink > a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  transition: all 3s;
}
#footerLink:hover {
  transform: rotateY(8deg);
}
.list-inline-item > a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  transition: all 3s;
  cursor: pointer;
}
#footerCopy {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  transition: all 3s;
  text-align: center;
}
i {
  transition: all 2s;
}
i:hover {
  transform: scale(1.1);
}
.footer-img {
  width: 25%;
  height: 20%;
}
.footerText {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  transition: all 3s;
}
article {
  border-radius: 2px;
  float: left;
  width: 100%;
  box-shadow: 1px 1px 1px 1px;
  margin-bottom: 1.5em;
}
.mall_logo {
  /* background-image: url('../img/gvk.png');
   background-repeat:repeat; */
  display: inline-block;
  width: 134%;
  height: 98px;
  /* float:left; */
  transition: all 3s;
}
/* .title{
    float: left;
} */
.fa-facebook {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.7em;
  background-color: #888;
  color: white;
}
.fa-facebook:hover {
  background-color: #3b5998;
}
.fa-twitter {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #888;
  color: white;
}
.fa-twitter:hover {
  background-color: #1e90ff;
}
.fa-google-plus {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.4em;
  background-color: #888;
  color: white;
}
.fa-google-plus:hover {
  background-color: #db4437;
}
.fa-linkedin {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #888;
  color: white;
}
.fa-linkedin:hover {
  background-color: #0077b5;
}
.rating {
  color: #fff;
  cursor: default;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 16px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  width: 36px;
  margin: 0 auto;
  font-weight: 700;
  float: right;
  margin-top: 1em;
  background: #9acd32;
  border-color: #9acd32 !important;
}
